<% if !@band.tracks.empty? %>

  <h2>tracks by
      <%=@band.name%>:</h2>

  <ul>
      <%@band.tracks.each do |track| %>
      <li>
          <a href="/tracks/<%= track.slug%>"><%= track.name%></a>
      </li>
      <% end %>
  </ul>
<% else %>
  <h2>There are no tracks by
      <%=@band.name%>... yet</h2>
<% end %>

<br>
<h3>
    <a href="/bands/<%=@band.slug%>/edit">Add a track</a>
    to
    <%=@band.name%>.
</h3>

<h3>Back to
    <a href="/">my home</a>
</h3>

<h3>Back to
    <a href="/bands">all bands</a>
    <a href="/logout">Log Out</a>
</h3>